src/
public/
.git/
.idea/
node_modules/
.eslintrc.cjs
.prettierrc
.gitignore
docker-compose.yml
Dockerfile
index.html
tsconfig.json
tsconfig.node.json
vite.config.ts
*.test.ts
*.test.tsx
.storybook/
storybook-static/
